@media screen and (max-width: 1600px) {
  .select-list {
    text-align: center; } }

@media screen and (max-width: 1340px) {
  .contact-form {
    padding-right: 10px; } 
  main.windows-calculator-container .main-img img {
    float: none;
    width: 440px;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 20px;
  }
  main.windows-calculator-container .sl-horizontal #slider-horizontal {
      display: none;
  }
  main.windows-calculator-container .sl-vertical #slider-vertical {
    display: none;
  }
    main.windows-calculator-container .sl-horizontal  {
      position: relative;
      bottom: 0;
      float: left;
      margin-bottom: 20px;
  }
  main.windows-calculator-container .sl-vertical {
    position: relative;
    right: 0;
    float: right;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1230px) {
  main.windows-calculator-container .window-cost .windows-galery {
    flex-direction: column;
  }
  .properities-row {
    margin-bottom: -17px;
  }
  main.windows-calculator-container .window-properities .properities-cont .properities-row .block img {
    float: none;
    padding-right: 15px;
}
main.windows-calculator-container .window-properities .properities-cont .properities-row .block.orange,
main.windows-calculator-container .window-properities .properities-cont .properities-row .block.red,
main.windows-calculator-container .window-properities .properities-cont .properities-row .block.green,
main.windows-calculator-container .window-properities .properities-cont .properities-row .block.blue {
  padding-left: 15px;
}
main.windows-calculator-container .window-properities .properities-cont .properities-row .block:first-child {
    float: none;
}  
main.windows-calculator-container .window-properities .properities-cont .properities-row .block:last-child {
    float: none;
}
main.windows-calculator-container .window-properities .properities-cont .properities-row .block {
  width: 100%;
}
  main.windows-calculator-container .window-properities .properities-cont .properities-row .block.blue::after,
  main.windows-calculator-container .window-properities .properities-cont .properities-row .block.red::after {
    display: none;
  }
  main.windows-calculator-container .window-cost .tabs-nav li {
    padding: 10px;
}
main.windows-calculator-container .window-cost .windows-galery .window img {
  width: 90%;
  display: block;
  margin: 0 auto;
  max-width: 200px;
}
.windows-type-list__pic, .windows-subtype-list__pic {
  width: 90%;
  margin: 0 auto;
}
main.windows-calculator-container .window-cost .windows-galery .window {
  text-align: center;
}
main.windows-calculator-container .window-cost .windows-galery .window .order {
  margin: auto;
}
main.windows-calculator-container .window-cost .windows-galery .window {
  margin-bottom: 25px;
}

  main.roller-blinds .to-order-block-btn {
    width: 100%; }
  .window-price.no-mar {
    padding-bottom: none;
    padding-left: 0;
    margin-left: 0;
    border-left: none; }
  .to-order-block {
    float: none; }
  .services-price {
    float: right;
    border-left: none;
    padding-left: 10px;
    margin-right: 0; }
  .phone-header {
    font-size: 18px; }
  .top-line {
    margin-top: 5px;
    margin-right: 10px; }
  .location__link {
    font-size: 14px; }
  .cart-block__link {
    width: 40px;
    height: 35px; }
  .orange-link {
    width: 245px;
    text-align: center; }
  .main-nav {
    margin-left: 15px; }
  .main-nav .main-nav-list li {
    margin-right: 20px; }
  .main-nav .main-nav-list li a {
    font-size: 15px; }
  .slider-nav .icon-nav .icon-nav-list {
    width: 380px; }
  .slider-nav .icon-nav .icon-nav-list li {
    padding: 0px; }
  .slider-nav .icon-nav .icon-nav-list li .item-wrap {
    padding: 15px; }
  .white-text-block.pull-left {
    padding: 40px 10px; }
  .white-text-block.pull-right {
    padding: 40px 10px; }
  .company-desk .company-photo img {
    width: 100%; }
  .form-hrgroup .top-thin {
    font-size: 30px;
    line-height: 1; }
  .form-hrgroup .bottom-bold {
    font-size: 40px;
    line-height: 1; }
  .subscribe-form {
    padding-top: 0px; }
  .subscribe-form .subscribe-submit {
    width: 200px; }
  .service-section {
    padding: 50px 0px; }
  .showroom-section {
    padding: 70px 0px; }
  .contact-form .white-entry {
    margin-bottom: 55px; }
  .contact-form .white-lead {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 15px; }
  .main-footer .footer-inside, .main-footer .footer-window, .main-footer .footer-contact-info, .main-footer .footer-company, .main-footer .footer-outdoor, .main-footer .footer-garage {
    margin-right: 40px;
    margin-left: 0px; }
  .main-footer .footer-heading {
    letter-spacing: 3px;
    font-size: 14px; }
  .aside-table .disabled {
    font-size: 18px;
    width: 49%; }
  .aside-table tr {
    font-size: 14px;
    line-height: 14px; }
  .aside-table .total .disabled {
    font-size: 18px; }
  .icon-red-caption {
    width: 70%; }
  .catalog-btn {
    display: block;
    margin: 0 auto; }
  .inner-nav-wrap .inner-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 1000; }
  .inner-nav-wrap .inner-nav.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .inner-nav-wrap .inner-nav .inner-nav-list {
    list-style-type: none;
    margin-top: 150px; }
  .inner-nav-wrap .inner-nav .inner-nav-list li {
    display: list-item;
    margin-bottom: 25px; }
  .inner-nav-wrap .inner-nav .inner-nav-list li a {
    border-right: none;
    color: #fff;
    font-size: 18px; }
  .inner-nav-wrap .inner-nav .inner-nav-list li a.active {
    color: #e50d37; }
  .whiteHexOuter {
    height: 196px;
    width: 168px; }
  .hex-border {
    width: 194px;
    height: 224px; }
  .banner-section {
    min-height: 400px; }
  .banner-section .banner-caption {
    padding: 0 10px; }
  .banner-section .banner-caption .banner-heading {
    font-size: 36px; } }

@media screen and (max-width: 992px) {
  main.windows-calculator-container .to-order-block-btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .w-m {
    width: 100%;
    float: none;
    text-align: center;
  }
  main.windows-calculator-container .add-window:before {
    display: none;
  }
  main.windows-calculator-container .choose-window__pic {
    display: none;
  }
  .choose-window__description {
    float: none;
  }
  .choose-window {
    float: left;
    border-left: none;
    padding-left: 0;
    text-align: center;
    margin-top: 0;
}
   main.windows-calculator-container  .window-price {
    float: none;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
}
  main.windows-calculator-container .add-window {
    width: 100%;
    text-align: center;
    border-bottom: none;
    margin: 0;
}
  main.windows-calculator-container .capabilities .block {
  height: auto;
}
  main.windows-calculator-container .window-cost .tabs-nav {
    flex-direction: column;
    position: absolute;
  }
  main.windows-calculator-container .window-cost .tabs-nav li.active {
    border: none;
    color: #e2193f;
  }
  main.windows-calculator-container .window-cost .body-wrapper {
    border: none;
  }
  main.windows-calculator-container .sl-horizontal {
      display: none;
  }
  main.windows-calculator-container .sl-vertical {
    display: none;
  }
  main.windows-calculator-container .step-gray .choose-your-window img {
    width: 80%;
  }  
  main.windows-calculator-container .step-gray .choose-your-window .radio-block {
    position: absolute;
    bottom: -58px;
    right: 46px;
  }
  main.windows-calculator-container .step-gray .choose-your-window .radio-block .lab-img {
    margin-bottom: 18px;
  }
  main.windows-calculator-container .step-gray .window-cart .opt {
    margin-bottom: 20px;
    text-align: center;
  }
  main.windows-calculator-container .step-gray .window-cart .title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  main.windows-calculator-container .step-gray .window-cart .info {
    margin-bottom: 315px;
    margin-top: 25px;
  }
  main.roller-blinds .slick-prev {
    z-index: 999; }
  main.roller-blinds .add-new {
    width: 100%; }
  main.roller-blinds .calculator .choose {
    line-height: 1.2; }
  main.roller-blinds .ui-choose .right .your-ch {
    padding-left: 15px; }
  main.roller-blinds .add-new::after {
    display: none; }
  main.roller-blinds .add-new {
    padding-left: 0; }
  .services-price {
    float: none;
    border-left: none;
    padding-left: 10px;
    margin-right: 0;
    width: 147px;
    display: block;
    margin: auto; }
  main.roller-blinds .sl-horizontal {
    display: none; }
  main.roller-blinds .sl-vertical {
    display: none; }
  main.roller-blinds .ui-choose .right {
    margin-top: 50px; }
  main.roller-blinds .ui-choose .right .your-ch {
    max-width: 100%; }
  main.roller-blinds .blocks-ui {
    text-align: left;
    float: none;
    width: 100%;
    max-width: 100%; }
  main.roller-blinds .variantes .block img {
    display: block;
    padding-top: 10px;
    margin: 0 auto; }
  .no-mar {
    margin-top: 0;
    padding-top: 15px;
    display: block;
    margin: 0 auto;
    width: 100%;
    float: none;
    text-align: center; }
  .black-simple-plus::before {
    display: none; }
  .black-simple::before {
    display: none; }
  .outside-window-desk.orange-greadient-block .white-text-block:after {
    display: none; }
  main.roller-blinds .inner-window-desk.orange-block:before {
    width: 100%; }
  main.roller-blinds .slick-next {
    right: 5px; }
  main.roller-blinds .slick-prev {
    left: 5px; }
  main.roller-blinds .main-img img {
    float: none; }
  .outside-window-desk.orange-greadient-block:before {
    width: 100%; }
  .top-panel .phone-header {
    font-size: 20px; }
  .stationar-phone {
    display: none; }
  .location {
    display: none; }
  .top-line.cart-block {
    margin-top: 0; }
  .hidden-sm {
    display: none; }
  .slider-nav {
    top: 142px;
    width: 100%; }
  .slider-nav .icon-nav .icon-nav-list {
    width: 100%;
    font-size: 0px; }
  .slider-nav .icon-nav .icon-nav-list li {
    width: 25%;
    height: 100px; }
  .top-section {
    padding: 150px 0 0; }
  .inner-window-desk.orange-block .white-text-block:after {
    display: none; }
  .inner-window-desk.orange-block:before {
    width: 100%; }
  .outside-window-desk.green-block .white-text-block:after {
    display: none; }
  .outside-window-desk.green-block:before {
    width: 100%; }
  .window-desk.blue-block .white-text-block:after {
    display: none; }
  .window-desk.blue-block:before {
    width: 100%; }
  .garage-desk.purple-block .white-text-block:after {
    display: none; }
  .garage-desk.purple-block:before {
    width: 100%; }
  .company-desk .company-photo {
    padding-top: 0px; }
  .form-section .form-hrgroup {
    text-align: center;
    margin-bottom: 30px; }
  .form-section .subscribe-submit {
    width: 300px; }
  .contact-form {
    margin-top: 35px;
    height: auto;
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    padding: 30px 10px; }
  .news-section__inner {
    padding-bottom: 0; }
  .contact-form:before {
    display: none; }
  .contact-form .white-lead {
    text-align: center; }
  .contact-form .white-entry {
    text-align: center; }
  .contact-form .subscribe-form .subscribe-submit {
    width: 300px; }
  .main-footer .footer-inside, .main-footer .footer-window, .main-footer .footer-contact-info, .main-footer .footer-company, .main-footer .footer-outdoor, .main-footer .footer-garage {
    margin-right: 0px;
    margin-left: 0px;
    width: 33%; }
  .main-header {
    padding: 20px 0px; }
  .article-wrap .left-img {
    float: none;
    margin: 0 0 20px;
    width: 100%; }
  .article-wrap img {
    width: 100%; }
  .inner-heading {
    line-height: 32px; }
  .share-list {
    display: block;
    float: none;
    font-size: 0px;
    margin: 0 0 20px; }
  .share-list li {
    display: inline-block; }
  .share-list li a {
    font-size: 16px; }
  .cart-aside {
    padding-top: 45px; }
  .send-form .input-title {
    width: 100%; }
  .send-form .input-holder {
    width: 100%; }
  .send-form .input-holder .half-part.right {
    padding-right: 4px; }
  .send-form .input-holder .half-part.left {
    padding-left: 4px; }
  .send-form .small.right {
    padding-right: 4px; }
  .send-form .small.left {
    padding-left: 4px; }
  .send-form .small.center {
    padding: 0px 2px; }
  .form-heading {
    margin-bottom: 15px; }
  .contact-iformation .red-oval-btn {
    padding: 10px 20px;
    letter-spacing: 1px;
    font-size: 14px; }
  .blinds-section {
    padding: 50px 0; }
  .banner-section .banner-caption .banner-heading {
    font-size: 32px; }
  .banner-section .banner-caption .banner-lead {
    font-size: 16px; }
  .gray-description {
    padding: 50px 0; }
  .gray-description .gray-section-heading {
    font-size: 24px; }
  .icon-round-section {
    padding: 50px 0 10px; }
  .assembly-section, .select-section {
    padding: 50px 0; }
  .calculate-section {
    padding: 50px 0; }
  .range-group .img-position {
    width: 280px; }
  .range-group .horizontal-range {
    width: 300px; }
  .calculate-section .calculator .dashed-block {
    font-size: 0px; }
  .calculate-section .calculator .dashed-block .input-group {
    width: 50%;
    display: inline-block;
    vertical-align: top; }
  .how-order-section {
    padding: 50px 0; }
  .how-order-section .section-heading {
    margin-bottom: 50px; }
  .icon-red-wrap {
    display: block; }
  .icon-red-wrap a {
    margin: 0 auto; }
  .icon-red-caption {
    display: block;
    width: 100%; }
  .icon-red-caption .icon-red-text {
    padding: 0;
    text-align: center;
    margin-bottom: 15px; }
  .catalog-nav .catalog-nav-list li a {
    padding: 15px 5px; }
  .action-block__bottom {
    margin: 30px 0 40px; }
  .service-list__descr {
    font-size: 14px;
    margin: 20px 0 0; }
  .do-it {
    font-size: 16px; } }

@media screen and (max-width: 767px) {
  .windows-type-list__item:first-child .windows-subtype-list {
    width: 100%;
  }
  .calculator-step-title,
  main.windows-calculator-container .window-cost .title,
  main.windows-calculator-container .capabilities .title {
    line-height: 1.1;
  }
  main.windows-calculator-container .step-gray .choose-your-window img {
    display: none;
}
main.windows-calculator-container .step-gray .choose-your-window .radio-block {
    position: absolute;
    bottom: -58px;
    right: 0;
    left: 0;
    margin: auto;
}
main.windows-calculator-container .window-cost .tabs-nav {
    flex-direction: column;
    position: absolute;
    background: rgba(255,255,255,.5);
    box-shadow: 0 0 18px 0px rgba(0,0,0,.2);
    border-radius: 4px;
}
  main.windows-calculator-container .main-img img,
  main.windows-calculator-container .step-gray .add-new {
    width: 100%;
  }
main.windows-calculator-container .step-gray .add-new::before,
main.windows-calculator-container .step-gray .add-new::after {
  display: none;
}
main.windows-calculator-container .step-gray .window-cart .info {
    padding: 0;
}
  main.windows-calculator-container .step-gray .add-new {
    padding-left: 0;
  }
.windows-type-list {
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background: #fff;
    max-width: 100px;
}  
.windows-subtype-list {
  left: 105px;
  transform: translateX(0);
  width: 100%;
  top: 0;
}
main.windows-calculator-container .step-gray .window-cart .char table,
main.windows-calculator-container .step-gray .window-cart .char table tr td {
    width: 50%;
}
main.windows-calculator-container .step-gray .window-cart .char table tr td:last-child {
  text-align: right;
}
main.windows-calculator-container .step-gray .window-cart .char,
main.windows-calculator-container .step-gray .window-cart .descr {
  width: 100%;
}
.windows-subtype-list:before {
  display: none;
}
.windows-type-list__item:first-child .windows-subtype-list {
  left: 105px;
  top: 0;
}
.windows-type-list__item:last-child .windows-subtype-list {
    left: 105px;
  top: 0;
}
main.windows-calculator-container .step-gray .window-cart .char table, main.windows-calculator-container .step-gray .window-cart .char table tr td {
  width: 100%;
}
.windows-subtype-list:before {
    left: 13%;
    transform: translateX(-50%);
}
main.windows-calculator-container .step-gray .window-cart .char,
main.windows-calculator-container .step-gray .window-cart .descr {
    padding: 58px 15px;
}
main.windows-calculator-container .window-cost .windows-galery .window .price {
    margin-bottom: 20px;
}
main.windows-calculator-container .step-gray .add-new {
  margin-top: 0;
  margin-bottom: 20px;
}
main.windows-calculator-container .step-gray .window-cart .tabs-title {
  0 15px;
}
  main.roller-blinds .addition .block {
    height: auto; }
  main.roller-blinds .addition .block img {
    display: block;
    margin: 0 auto;
    width: 100%; }
  main.roller-blinds .variantes .choose {
    line-height: 1.1; }
  main.roller-blinds .addition .receive li {
    display: block;
    float: none;
    margin-bottom: 20px;
    width: 100%; }
  main.roller-blinds .variantes .block img,
  main.roller-blinds .main-img img {
    width: 100%; }
  main.roller-blinds .inputs li {
    display: block;
    margin-right: 0;
    margin-bottom: 9px; }
  main.roller-blinds .inputs li button {
    width: 100%;
    max-width: 215px; }
  .top-line {
    display: none; }
  .top-line.cart-block {
    display: block; }
  .hidden-lg-visible-mobile {
    display: block; }
  .main-nav {
    display: none; }
  .main-nav .main-nav-list {
    list-style-type: none; }
  .main-nav .main-nav-list li {
    display: list-item; }
  .toggle-nav {
    height: 36px;
    width: 36px;
    outline: none;
    padding: 0px;
    background-color: transparent;
    border: none;
    overflow: hidden;
    float: right; }
  .toggle-nav span {
    height: 4px;
    width: 100%;
    background-color: #999;
    display: block;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: #ce6a1c; }
  .toggle-nav span:before {
    position: absolute;
    content: '';
    background: inherit;
    width: 100%;
    height: 4px;
    top: 12px;
    left: 0;
    -webkit-transition: .3s;
    transition: .3s; }
  .toggle-nav span:after {
    position: absolute;
    content: '';
    background: inherit;
    width: 100%;
    height: 4px;
    top: -12px;
    left: 0;
    -webkit-transition: .3s;
    transition: .3s; }
  .toggle-nav.clicked span {
    background-color: transparent;
    background-image: none; }
  .toggle-nav.clicked span:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #f05a72;
    top: 0; }
  .toggle-nav.clicked span:after {
    background-color: #f05a72;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0; }
  .slider-nav .icon-nav .icon-nav-list li {
    height: initial; }
  .slider-nav .icon-nav .icon-nav-list li .icon {
    display: none; }
  .slider-nav .icon-nav .icon-nav-list li .item-wrap {
    padding: 0px; }
  .slider-nav .icon-nav .icon-nav-list li .link-name a {
    font-size: 10px;
    line-height: 12px;
    height: initial; }
  .slider-nav .icon-nav .icon-nav-list li .link-name a .upper-text {
    font-size: 12px; }
  .top-section {
    padding: 0px; }
  .slider-nav {
    top: 135px;
    z-index: 99; }
  .white-text-block {
    text-align: center; }
  .window-desk, .garage-desk, .outside-window-desk, .inner-window-desk {
    height: initial; }
  .company-desk .company-photo {
    display: none; }
  .link-block {
    margin: 20px 0 0; }
  .cart-section {
    padding: 0px 10px 50px; }
  .cart-table img {
    width: 100px;
    height: 100px; }
  .cart-table thead th {
    font-size: 10px; }
  .cart-table tbody .name {
    font-size: 16px;
    line-height: 18px; }
  .cart-table tbody .intro {
    font-size: 12px;
    line-height: 15px; }
  .cart .quantity {
    width: 50px; }
  .delivery-block {
    padding-top: 15px; }
  .breadcrumbs {
    padding: 30px 10px; }
  .assembly-section .cover-box {
    display: block; }
  .assembly-section .cover-box .box-item {
    display: block; }
  .assembly-section .cover-box .box-item img {
    width: 100%; }
  .quest-form {
    padding: 0 10px 0 15px; }
  .quest-form .message {
    font-size: 12px;
    line-height: 14px; }
  .text-section {
    padding: 50px 10px; }
  .how-order-section .col-xs-12 {
    margin-bottom: 15px; }
  .icon-card-wrap .caption-icon .caption-text {
    height: initial; }
  .gray-description {
    padding: 50px 10px; }
  .range-cover {
    width: 100%; }
  .calculate-section .calculator .inner-form-block {
    max-width: inherit;
    margin-bottom: 20px; }
  .calculate-section .calculator .inner-form-cover {
    width: 100%; }
  .hex-catalog-caption .catalog-caption {
    height: initial; }
  .catalog-hex-wrap {
    padding: 50px 10px; }
  .main-footer {
    padding: 50px 10px; }
  .catalog-nav .catalog-nav-list li {
    width: 50%; }
  .service-list__item {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%; }
    .service-list__item:nth-child(2n+2) {
      margin-right: 0; } }

@media screen and (max-width: 685px) {
  main.roller-blinds .blocks-ui li {
    display: block;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    width: 32%;
    margin: 0 auto; }
  main.roller-blinds .ui-wrap {
    top: 163px; }
  .quest-form .input-group .right {
    width: 100%;
    padding: 0;
    margin-bottom: 15px; }
  .quest-form .input-group .left {
    width: 100%;
    padding: 0; }
  .quest-form .input-group .center {
    width: 100%;
    padding: 0;
    margin-bottom: 15px; }
  .section-heading {
    font-size: 24px; }
  .inner-nav-wrap .inner-nav {
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%); }
  .inner-nav-wrap .inner-nav.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .inner-nav-wrap .inner-nav .inner-nav-list {
    margin-top: 10px; }
  .inner-nav-wrap .inner-nav .inner-nav-list li {
    margin-bottom: 15px; }
  .inner-nav-wrap .inner-nav .inner-nav-list li a.active {
    color: #e50d37; }
  .inner-nav-wrap .inner-nav .inner-nav-list li a:after {
    bottom: 0; } }

@media screen and (max-width: 580px) {
  main.roller-blinds .add-new::before {
    display: none; }
  .main-slider .slider-item-wrap {
    height: initial; }
  .main-slider .slider-item-wrap .slider-caption .slider-heading {
    font-size: 30px;
    margin-bottom: 15px; }
  .main-slider .slider-item-wrap .slider-caption .blue-text {
    font-size: 18px;
    line-height: 20px; }
  .main-slider .slider-item-wrap .slider-caption .red-text {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px; }
  .main-slider .slider-item-wrap .red-oval-btn {
    display: inline-block;
    margin-bottom: 35px; }
  .company-desk {
    padding: 30px 0px;
    text-align: center; }
  .subscribe-form input {
    width: 100%; }
  .subscribe-form .subscribe-submit {
    width: 100%;
    margin-top: 15px;
    position: static;
    height: 60px; }
  .form-section {
    padding: 30px 0px; }
  .news-block {
    padding: 20px;
    text-align: center; }
  .contact-form .subscribe-form .subscribe-submit {
    width: 100%; }
  #map {
    height: 300px; }
  .main-footer .footer-inside, .main-footer .footer-window, .main-footer .footer-contact-info, .main-footer .footer-company, .main-footer .footer-outdoor, .main-footer .footer-garage {
    margin: 0px;
    text-align: center;
    width: 100%; }
  .main-footer .red-link-list {
    margin: 0px; }
  .cart-table {
    text-align: center; }
  .cart-table thead {
    display: none; }
  .cart-table tbody {
    display: block; }
  .cart-table tbody .modifier {
    border-bottom: none; }
  .cart-table tbody tr {
    display: block; }
  .cart-table tbody tr td {
    display: block; }
  .cart .quantity {
    width: 200px;
    text-align: center; }
  .input-price {
    margin-right: -50px; } }

@media screen and (max-width: 450px) {
  main.roller-blinds .addition .choose {
    line-height: 1; }
  main.roller-blinds .addition .receive li {
    margin-bottom: 30px; }
  main.roller-blinds .super-price .title,
  main.roller-blinds .super-price .sub-sub-title {
    line-height: 1.1; }
  body {
    font-size: 14px;
    line-height: 20px; }
  .slider-nav .icon-nav .icon-nav-list li {
    width: 50%; }
  .main-slider .slider-item-wrap .slider-caption {
    padding-top: 300px; }
  .white-text-block .white-heading {
    font-size: 24px;
    letter-spacing: 2px; }
  .white-text-block .small-subhead {
    font-size: 14px; }
  .white-text-block .white-description {
    font-size: 12px; }
  .section-heading {
    font-size: 28px; }
  .company-desk .desk-paragraf {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px; }
  .gray-oval-btn {
    width: 100%; }
  .white-text-block .white-subheading {
    font-size: 14px;
    line-height: 16px; }
  .main-nav .main-nav-list {
    padding-top: 55px; }
  .article-item .article-caption .article-head {
    line-height: 16px;
    height: 70px; }
  .pagination .pagination-btn {
    top: 150px; }
  .contact-form {
    height: initial; }
  .send-form input {
    padding: 6px 3px; }
  .send-form textarea {
    padding: 6px 3px; }
  .send-form .dropdown {
    padding: 6px 3px; }
  .send-form .dropdown .carat {
    right: 4px; }
  .payment-list {
    margin-bottom: 30px; }
  .payment-list li {
    margin-right: 0px;
    font-size: 14px; }
  .money .money-caption {
    width: 150px; }
  .contact-iformation .red-oval-btn {
    padding: 6px 4px;
    font-size: 12px;
    letter-spacing: 1px; }
  .cart-information {
    padding: 15px; }
  .cart-information .cart-head {
    text-align: center; }
  .cart-information .red-oval-btn {
    padding: 10px 6px; }
  .aside-table .disabled {
    font-size: 14px;
    width: 49%; }
  .aside-table tr {
    font-size: 12px;
    line-height: 14px; }
  .aside-table .total .disabled {
    font-size: 14px; }
  .back-link {
    font-size: 16px; }
  .banner-section .banner-caption {
    padding: 0px 10px; }
  .banner-section .banner-caption .banner-lead {
    font-size: 14px;
    width: 100%;
    margin-top: 15px; }
  .select-section {
    padding: 30px 10px; }
  .calculate-section .calculator {
    margin: 0; }
  .calculate-section .calculator .dashed-block .input-group {
    width: 100%; }
  .range-group .img-position {
    width: 240px; }
  .range-group .horizontal-range {
    width: 270px; }
  .text-section {
    padding-bottom: 25px; }
  .how-order-section {
    padding-top: 25px; }
  .red-oval-btn, .gray-btn {
    line-height: inherit;
    font-size: 14px;
    height: 60px; }
  .banner-section {
    min-height: 250px; }
  .banner-section .banner-caption {
    top: 40%; }
  .banner-section .banner-caption .banner-heading {
    font-size: 28px; }
  .banner-section .banner-caption .banner-lead {
    line-height: 18px; }
  .catalog-nav .catalog-nav-list li {
    width: 100%; }
  .select-list li img {
    width: 100%; }
  .service-list__item {
    width: 100%;
    margin-right: 0; }
  .service-list__descr {
    margin-top: 40px;
    font-size: 16px; } }
